

<div class="select_nav_wrap">
  <div class="season_select_nav">
    <button nz-button [nzSize]="'large'" nzType="text" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay()">
      <i nz-icon nzType="left" nzTheme="outline"></i>
    </button>
    <div class="sel_season">{{viewDate | date: 'yyyy.MM':'+0900'}}</div>
    <button nz-button [nzSize]="'large'" nzType="text" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay()">
      <i nz-icon nzType="right" nzTheme="outline"></i>
    </button>
    <button nz-button [nzSize]="'small'" nzType="default" mwlCalendarToday [(viewDate)]="viewDate" (click)="setToday()">현재</button>
  </div>
</div>


<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>

  <div *ngFor="let event of day.events; trackBy:trackByEventId">
    <div [innerHTML]="event.title"></div>
  </div>
</ng-template>

<div class="calendar_wrap">
  <mwl-calendar-month-view [viewDate]="viewDate" [locale]="locale" [cellTemplate]="customCellTemplate" [events]="events"
    [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event, $event.day)"
    (eventClicked)="calendarEvent('Clicked', $event.event)">
  </mwl-calendar-month-view>
</div>